body{
    background-color: #ffae00ed;
    margin: 0;
    padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}
.description_box{
    width: 80%;
    /* height: 650px; */
    background-color: aliceblue;
    border-radius: 15px;
    margin-top: 80px;
    display: flex;
}
.heading{
    font-size: x-large;
}
.leftbox{
    width: 50%;
    margin-left: 90px;
}
.name{
  padding-top: 5px;
  font-size: x-large;
  font-weight: 500;
}
.description{
    color: goldenrod;
    padding-top: 20px;
}
.about_me{
    color: gray;
    padding-bottom: 20px;
    line-height: 1.5;
    width: 100%;
    text-align:justify ;
}
.heading{
    padding-bottom: 10px;
}
.left_buttons{
    display: flex;
    gap: 10px;
}
/* From Uiverse.io by gharsh11032000 */ 
.proj_button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .proj_button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .proj_button:hover::before {
    scale: 3;
  }
  
  .proj_button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .proj_button:active {
    scale: 1;
  }
 
.button {
    --primary: #ff5569;
    --neutral-1: #f7f8f7;
    --neutral-2: #e7e7e7;
    --radius: 35px;
  
    cursor: pointer;
    border-radius: var(--radius);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: none;
    box-shadow: 0 0.5px 0.5px 1px rgba(255, 255, 255, 0.2),
      0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 5px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
    min-width: 200px;
    padding: 20px;
    height: 50px;
    font-family: "Galano Grotesque", Poppins, Montserrat, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
  }
  .button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
      0 15px 30px rgba(0, 0, 0, 0.3), 0 10px 3px -3px rgba(0, 0, 0, 0.04);
  }
  .button:active {
    transform: scale(1);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
      0 10px 3px -3px rgba(0, 0, 0, 0.2);
  }
  .button:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--radius);
    border: 2.5px solid transparent;
    background: linear-gradient(var(--neutral-1), var(--neutral-2)) padding-box,
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.45))
        border-box;
    z-index: 0;
    transition: all 0.4s ease;
  }
  .button:hover::after {
    transform: scale(1.05, 1.1);
    box-shadow: inset 0 -1px 3px 0 rgba(255, 255, 255, 1);
  }
  .button::before {
    content: "";
    inset: 7px 6px 6px 6px;
    position: absolute;
    background: linear-gradient(to top, var(--neutral-1), var(--neutral-2));
    border-radius: 30px;
    filter: blur(0.5px);
    z-index: 2;
  }
  .state p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .state .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: scale(1.25);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .state .icon svg {
    overflow: visible;
  }
  
  /* Outline */
  .outline {
    position: absolute;
    border-radius: inherit;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease;
    inset: -2px -3.5px;
  }
  .outline::before {
    content: "";
    position: absolute;
    inset: -100%;
    background: conic-gradient(
      from 180deg,
      transparent 60%,
      white 80%,
      transparent 100%
    );
    animation: spin 2s linear infinite;
    animation-play-state: paused;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .button:hover .outline {
    opacity: 1;
  }
  .button:hover .outline::before {
    animation-play-state: running;
  }
  
  /* Letters */
  .state p span {
    display: block;
    opacity: 0;
    animation: slideDown 0.8s ease forwards calc(var(--i) * 0.03s);
  }
  .button:hover p span {
    opacity: 1;
    animation: wave 0.5s ease forwards calc(var(--i) * 0.02s);
  }
  .button:focus p span {
    opacity: 1;
    animation: disapear 0.6s ease forwards calc(var(--i) * 0.03s);
  }
  @keyframes wave {
    30% {
      opacity: 1;
      transform: translateY(4px) translateX(0) rotate(0);
    }
    50% {
      opacity: 1;
      transform: translateY(-3px) translateX(0) rotate(0);
      color: var(--primary);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0) rotate(0);
    }
  }
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-20px) translateX(5px) rotate(-90deg);
      color: var(--primary);
      filter: blur(5px);
    }
    30% {
      opacity: 1;
      transform: translateY(4px) translateX(0) rotate(0);
      filter: blur(0);
    }
    50% {
      opacity: 1;
      transform: translateY(-3px) translateX(0) rotate(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0) rotate(0);
    }
  }
  @keyframes disapear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateX(5px) translateY(20px);
      color: var(--primary);
      filter: blur(5px);
    }
  }
  
  /* Plane */
  .state--default .icon svg {
    animation: land 0.6s ease forwards;
  }
  .button:hover .state--default .icon {
    transform: rotate(45deg) scale(1.25);
  }
  .button:focus .state--default svg {
    animation: takeOff 0.8s linear forwards;
  }
  .button:focus .state--default .icon {
    transform: rotate(0) scale(1.25);
  }
  @keyframes takeOff {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 1;
      transform: translateX(70px) rotate(45deg) scale(2);
    }
    100% {
      opacity: 0;
      transform: translateX(160px) rotate(45deg) scale(0);
    }
  }
  @keyframes land {
    0% {
      transform: translateX(-60px) translateY(30px) rotate(-50deg) scale(2);
      opacity: 0;
      filter: blur(3px);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(0);
      opacity: 1;
      filter: blur(0);
    }
  }
  
  /* Contrail */
  .state--default .icon:before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 0;
    left: -5px;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
  }
  .button:focus .state--default .icon:before {
    animation: contrail 0.8s linear forwards;
  }
  @keyframes contrail {
    0% {
      width: 0;
      opacity: 1;
    }
    8% {
      width: 15px;
    }
    60% {
      opacity: 0.7;
      width: 80px;
    }
    100% {
      opacity: 0;
      width: 160px;
    }
  }
  
  /* States */
  .state {
    padding-left: 29px;
    z-index: 2;
    display: flex;
    position: relative;
  }
  .state--default span:nth-child(4) {
    margin-right: 5px;
  }
  .state--sent {
    display: none;
  }
  .state--sent svg {
    transform: scale(1.25);
    margin-right: 8px;
  }
  .button:focus .state--default {
    position: absolute;
  }
  .button:focus .state--sent {
    display: flex;
  }
  .button:focus .state--sent span {
    opacity: 0;
    animation: slideDown 0.8s ease forwards calc(var(--i) * 0.2s);
  }
  .button:focus .state--sent .icon svg {
    opacity: 0;
    animation: appear 1.2s ease forwards 0.8s;
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: scale(4) rotate(-40deg);
      color: var(--primary);
      filter: blur(4px);
    }
    30% {
      opacity: 1;
      transform: scale(0.6);
      filter: blur(1px);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
      filter: blur(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  /* right side */
  .rightbox{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
  }
  .navbar{
    height: 50px;
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    background-color: #FF8D00;
    color:white;
    border-radius: 0px 0 50px 50px;
    align-items: center;
    margin-right: 10px;

  }
  .about,.projects,.contact{
    font-size: x-large;
  }
  
/* From Uiverse.io by htwarriors108 */ 
.card {
  position: relative;
  width: 247px;
  height: 391px;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  
}

.card:hover {
  transform: translateY(-20px);
}

.card::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  border-radius: 1.2em;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}

.card span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 1em;
}

.card span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.card .content {
  position: relative;
  padding: 10px;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.5em;
  background-image:url('./image/IMG_2840.PNG') ;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
/* img{
  width: 100%;
  object-fit: contain;
 
} */
/* From Uiverse.io by vinodjangid07 */ 
.card2 {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (min-width:700px) and (max-width:991px) {
  
  .description_box {
    width: 80%;
    background-color: aliceblue;
    border-radius: 15px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftbox {
  width: 50%;
  margin: 0 !important;
  order: 2;
}
.rightbox {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.navbar {
  height: 50px;
  width: 180%;
  display: flex;
  justify-content: space-evenly;
  background-color: #FF8D00;
  color: white;
  border-radius: 0px 0 50px 50px;
  align-items: center;
  margin-right: 10px;
}
.left_buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.name{
  padding-top: 5px;
  font-size: x-large;
  font-weight: bold;
}
.proj_button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
}
@media (min-width:310px) and (max-width:500px) {
  .description_box {
    width: 80%;
    background-color: aliceblue;
    border-radius: 15px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftbox {
  width: 50%;
  margin: 0 !important;
  order: 2;
}
.rightbox {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.navbar {
  height: 50px;
  width: 180%;
  display: flex;
  justify-content: space-evenly;
  background-color: #FF8D00;
  color: white;
  border-radius: 0px 0 50px 50px;
  align-items: center;
  font-size: x-small;
}
.left_buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.name{
  padding-top: 5px;
  font-size: x-large;
  font-weight: bold;
}
.about,.projects,.contact{
  font-size: 20px;

}
.heading{
  font-size: medium;
}
.left_buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

}
.about_me {
  color: gray;
  padding-bottom: 20px;
  line-height: 1.5;
  width: 115%;
  text-align: justify;
}
.proj_button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;

  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
}
@media (min-width:501px) and (max-width:699px) {
  .description_box {
    width: 80%;
    background-color: aliceblue;
    border-radius: 15px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftbox {
  width: 50%;
  margin: 0 !important;
  order: 2;
}
.rightbox {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.navbar {
  height: 50px;
  width: 180%;
  display: flex;
  justify-content: space-evenly;
  background-color: #FF8D00;
  color: white;
  border-radius: 0px 0 50px 50px;
  align-items: center;
  font-size: x-small;
}
.left_buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.name{
  padding-top: 5px;
  font-size: x-large;
  font-weight: bold;
}
.about .projects .contact a{
  font-size: 20px;
  text-decoration: none;
}
.heading{
  font-size: medium;
}
.left_buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

}
.about_me {
  color: gray;
  padding-bottom: 20px;
  line-height: 1.5;
  width: 92%;
  text-align: justify;
}
.proj_button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
}
